.is-hidden,[v-cloak] {
    display: none!important
}

.error {
    background-color: #fd0054;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    text-align: center
}

.stack {
    display: flex;
    flex-direction: column
}

.stack>*+* {
    margin-top: 1rem
}

.stack--centered {
    justify-content: center
}

.stack--centered .vue-loader {
    margin: 0 auto
}

.font-smaller {
    font-size: 90%!important
}

.font-bold {
    font-weight: 700
}

.mt-0 {
    margin-top: 0
}

.mt-md {
    margin-top: 1rem
}

.mt-lg {
    margin-top: 2rem
}

.download-google-play__button {
    margin-bottom: 0;
    margin-top: 1rem;
    max-width: 100px!important
}

.download-google-play__dimmed-text {
    font-size: 9px;
    margin-top: 0;
    opacity: .75
}

.download-upsale__title {
    font-size: 2.5rem
}

.download-upsale__body {
    font-size: 1.1em;
    font-weight: 700
}

.download-upsale__countdown {
    color: red
}

.footer {
    z-index: 101
}

.global-footer {
    font-size: 10px;
    opacity: .8;
    padding: 10px;
    text-align: center
}

.global-footer--default,.global-footer__dimmed-text {
    font-size: 9px;
    opacity: .2
}

.global-footer__paragraph {
    margin-bottom: 5px;
    margin-top: 0
}

.global-footer__paragraph:last-child {
    margin-bottom: 0
}

.global-footer__paragraph a {
    color: inherit
}

.global-footer__links {
    margin-bottom: 5px
}

.global-footer__link {
    color: inherit;
    font-size: 12px;
    margin: 0 5px;
    text-decoration: none;
    text-decoration: underline
}

.global-footer__link:hover {
    color: inherit
}

html {
    background: #000 url(/img/offers/win_gold_min/bg.jpg) no-repeat 50%/cover;
    background-attachment: fixed;
    color: #fff;
    font-family: Arial,sans-serif;
    height: 100%
}

body {
    display: flex;
    margin: 0;
    min-height: 100%;
    padding: 0
}

.app {
    overflow: hidden
}

.app,.body {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center
}

.body {
    -webkit-overflow-scrolling: touch;
    border-radius: 20px;
    box-sizing: border-box;
    max-width: 400px;
    overflow: auto;
    padding: 20px;
    text-align: center;
    z-index: 20
}

.body--full-height {
    min-height: 100vh
}

.body__title {
    font-family: American Typewriter,serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 5px;
    margin-top: 0;
    position: relative;
    text-shadow: 0 2px 2px rgba(0,0,0,.8)
}

.body__subtitle,.body__title {
    -webkit-animation: highlight1 .5s infinite;
    animation: highlight1 .5s infinite
}

.body__subtitle {
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.8)
}

.body__prize {
    -webkit-animation: highlight2 .5s infinite;
    animation: highlight2 .5s infinite;
    margin-bottom: 20px;
    max-width: 250px;
    width: 100%
}

.vue-operator-selector__button {
    -webkit-animation: highlight1 .5s infinite;
    animation: highlight1 .5s infinite;
    background: linear-gradient(5deg,#ffce1e,#f0d96e,#fefabc,#e6b930);
    box-shadow: inset 0 -.125rem rgba(0,0,0,.2),0 1px 10px #ffb456
}

.footer {
    text-shadow: 1px 1px 2px #000;
    width: 100%
}

.flow {
    max-width: 280px;
    text-align: center;
    width: 100%
}

.flow__title {
    font-weight: 700;
    margin-top: 0;
    text-shadow: 0 2px 2px rgba(0,0,0,.8)
}

.flow__title--h1 {
    font-family: American Typewriter,serif;
    font-size: 24px;
    font-style: italic;
    line-height: 20px
}

.flow__title--h2 {
    font-size: 16px
}

.flow__paragraph {
    margin-top: 0;
    text-shadow: 0 2px 2px rgba(0,0,0,.8)
}

.flow__cta-title {
    font-family: American Typewriter,serif;
    margin-bottom: 10px
}

.flow__error {
    background-color: #fd0054;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 5px
}

.confetti {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%
}

@-webkit-keyframes highlight1 {
    0% {
        transform: scale(1.05)
    }

    50% {
        transform: scale(1)
    }

    to {
        transform: scale(1.05)
    }
}

@keyframes highlight1 {
    0% {
        transform: scale(1.05)
    }

    50% {
        transform: scale(1)
    }

    to {
        transform: scale(1.05)
    }
}

@-webkit-keyframes highlight2 {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.05)
    }

    to {
        transform: scale(1)
    }
}

@keyframes highlight2 {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.05)
    }

    to {
        transform: scale(1)
    }
}

/*# sourceMappingURL=app.css.map*/
